body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1{
    color: #007bff;
}
.product-container {
    display: flex;
    gap: 20px;
}

.image-gallery {
    display: flex;
    gap: 10px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.thumb {
    width: 60px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumb:hover {
    border-color: #ff9800;
}

.main-image img {
    width: 300px;
}

.product-info {
    flex: 1;
}

.price {
    font-size: 1.5em;
    color: #4caf50;;
}
#product-seller{
    color: #5b3cca;
}
button {
    padding: 10px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.rating {
    font-size: 1.5em;
}

.star {
    cursor: pointer;
    color: gray;
}

.star:hover, .star.active {
    color: gold;
}

.comments-section {
    margin-top: 20px;
}

#comments-list {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

textarea {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

#add-comment {
    display: block;
    margin-top: 10px;
}
