/*-------- General -----------*/
body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2c;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

hr {
    border: none;
    height: 2px;
    background-color: #3a3155; /* Color de la línea */
    margin: 10px 0; /* Espaciado arriba y abajo */
}
p{
    color:#585858;
    font-size: 15px;
}
/*-------- Apartado Chat -----------*/
.chat-container {
    display: flex;
    width: 80%;
    height: 50rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
.sidebar {
    width: 30%;
    background: #241e38;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.search-bar {
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 90%;
    margin-bottom: 20px;
}
.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.contact:hover {
    background: #372f50;
}
.contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}
.chat-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    background: white;
}
.chat-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: #4d3899;
    color: white;
}
.chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}
.chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.message-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.chat-input button, .form-group button, .details, .continue-btn{
    padding: 10px;
    background: #4d3899;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}
.chat-input button:hover , .form-group button:hover, .details:hover, .continue-btn:hover{
    background: #281668;
}
.user-msg{
    background: #3e249b;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
    align-self: flex-end;
}
/*-------- Apartado Cotizacion -----------*/
.quote-wrapper {
    display: flex;
    margin: 10px;
    max-width: 60%;
}

.quote-left {
    justify-content: flex-start;
}

.quote-right {
    justify-content: flex-end;
    align-self: flex-end;
}

.quote-msg {
    background: #ffffff;
    word-break: break-word;
    word-spacing: normal;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    gap: 10px;
    align-items: center;
}

.quote-msg img {
    width: 110px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.quote-msg .section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: start;
}
/*--------------- Modal Detalles de cotización ----------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal.hidden {
    display: none;
}
.modal-body{
    display: flex;
    gap: 15px;
}
.modal-content {
    background: white;
    border-radius: 12px;
    position: fixed;
    top: auto;
    left: auto;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    width: 90%;
    max-width: 620px;
    margin: 120px 0 20px 60px;
    display: none;
    flex-direction: column;
    gap: 15px;
    z-index: 11;
}

.modal-content h3{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #4d3899;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.modal-img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.modal-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    word-spacing: normal;
    gap: 6px;
}

.close-btn {
    position: absolute;
    color:#5a479c;;
    top: 10px;
    right: 16px;
    font-size: 30px;
    cursor: pointer;
}

.details.disabled {
    background-color: gray;
    cursor: not-allowed;
}

/*-------------------------------*/
.contact-msg{
    background: #5a479c;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
    align-self: flex-start;
}
#quote-btn{  
    font-size: 20px;
    width: 3rem;
    height: 3rem;
    background: #4d3899;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    transition: background 0.3s;
}
#quote-btn:hover {
    background: #281668;
}
#quote-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#quote-container {
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    width: fit-content;
    max-width: 52rem;
    height: fit-content;
    background-color: white;
    padding: 15px;
    margin-top: 8rem;
    border: 1px #ccc solid;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    z-index: 2;
}

#quote-container h2{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #4d3899;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}
.form-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.form-group .section-1{
    flex: 1;
    width: 90%;
}
.form-group .section-2{
    margin-left: 8px;
}
#quote-container input, #quote-container select {
    padding: 7px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#quote-container textarea {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    resize: none;
}
#quote-container #product-inventory {
    color: #585858;
    margin: 0;
    width: 5rem;
    border: none;
}
#product-image{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}
.close {
    color: #4d3899;
    float: right;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}
